html {
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin:0 auto;
}

.header .top-bar {
  width:100%;
  background-color:#000;
  color: #fff;
}

.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.header .top-bar span {
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.header .main-banner {
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.header .main-banner .headline {
  background-color: #000;
  width: 20rem;
  color: #fff;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

.headline { font-family: Helvetica; font-weight: bold; }
.headline h1 { font-size: 2rem; padding: 0;}
.headline h3 { font-size: 1rem; padding: 0 0 0.25rem 0;}

.menu { background-color: firebrick; padding: 0.75rem 0; color:#fff;}
.menu nav { display:flex; justify-content: space-between; width:100%; }
.menu nav a { text-decoration: none; color: #fff;}
.menu .menu-name { display:none; text-align: center; width: 100%; }

.content { padding-top: 3rem;}
.product-grid { width: 100%; display:flex; justify-content: space-between;}
.product { border: solid #000 4px; width: 30%; }
.product .photo { height: 9rem; display:flex; justify-content: center; align-items: center; padding:2rem 0;}
.product img { max-width:9rem;  }
.product .title { background-color:#000; color:#fff; padding: 0.5rem 0; text-align: center;}

.business-info {padding-top: 3rem; display: flex; justify-content: space-between; width: 100%;}
.business-info .title { background-color: #000; color: #fff; padding: 1rem 2rem; }
.location, .hour { width: 35%;}

.footer { margin-top: 4rem; height: 5rem; background-color: #000; color: #fff; text-align: center; line-height: 5rem;}

@media only screen and (max-width:1024px) {
  .menu .menu-name { display: block; }
  .menu nav { display: none; }

  .product:nth-child(3) { display: none; }
  .product:nth-child(1), .product:nth-child(2) { width: 47%; }
}

@media only screen and (max-width:470px) {
  .header .main-banner { height: 15rem; }
  .header .main-banner .headline { margin-top: 10rem; padding: 1rem 2rem; width: 100%;}
  .headline h1 { font-size: 1rem; }
  .headline h3 { font-size: 0.77rem; }

  .product-grid { justify-content: center; }
  .product:nth-child(3), .product:nth-child(2) { display: none; }
  .product:nth-child(1) { width: 90%; }

  .business-info { flex-wrap: wrap; justify-content: center; }
  .location, .hour { width: 90%;}
  .location { margin-bottom: 0.5rem;}

  .footer { text-align: center; width: 100%; }
  .footer span { margin: 0 auto;}
}
